# y
local
.gitignore
*TempIgnore.java

#activiti
.bpmn

# svn
.svn

# visio
~*

# powerDesigner
*.pdb

# maven
target

# eclipse
.classpath
.project
.settings

bin
classes

# log
log-log4j
log-log4j2


# intellij
.idea
*.iml

##gitbook
## Node rules:
### Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
#.grunt
#
### Dependency directory
### Commenting this out is preferred by some people, see
### https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
#node_modules
#
## Book build output
#_book
#
## eBook build output
#*.epub
#*.mobi
#*.pdf
#
##end

# 不忽略的内容
!/.gitignore